body {
    background-color: #121212;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.0);
}

.scrollable-container {
  scrollbar-color: rgba(0, 0, 0, 0.0) transparent;
  scrollbar-width: thin;
}